<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Footer Example</title>
  <style>
    .footer{ font-family: Arial, sans-serif; margin: 0; padding: 0; } .footer {
    background-color: #000; color: #fff; text-align: center; padding:2vh 4vw 2vh 4vw;
    bottom: 0; width: 100%; } .footer img { width: 6vw; height: 9vh; position: relative; right:46.5% ; margin-bottom: 2vh; } .footer
    p { margin: 10px 0 5px; } .footer .social-icons { margin-top: 10px; }
    .footer .social-icons a { color: #fff; margin: 0 10px; text-decoration:
    none; }
    .bottom{
        display: flex;
        justify-content: space-between;
    }
  </style>
</head>

  <div class="footer">
    <img
      src="/ONGCFOOTERLOGO.png"
      alt="ONGC Logo"
    />
    <hr style="color: white;">
    <div class="bottom">
      <p>© 2024 The Oil and Natural Gas Corporation. All rights reserved.</p>
    </div>
  </div>