<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            display: flex;
            flex-direction: column;
            margin: 0;
            background-color: #f4f4f9;
        }
        .login-container {
            margin-top: 15vw;
            margin-bottom: 5vw;
            background: #fff;
            padding: 40px 30px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 450px;
            width: 100%;
        }
        .login-container img {
            width: 50px;
            height: auto;
            margin-bottom: 20px;
        }
        .login-container h2 {
            margin-bottom: 20px;
            font-size: 24px;
            color: #333;
        }
        .login-container input[type="text"],
        .login-container input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .login-container input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin: 20px 0;
            background-color: #ff4500;
            border: none;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }
        .login-container input[type="submit"]:hover {
            background-color: #e03e00;
        }
        .login-container a {
            display: block;
            margin: 10px 0;
            color: #007bff;
            text-decoration: none;
        }
        .login-container a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    {{>navbar}}
    <div class="login-container">
        <img src="Design 1.png" alt="Logo">
        <h2>Sign In</h2>
        <form action="/login" method="post">
            <input type="text" placeholder="CPF NUMBER" name="userid" required>
            <input type="password" placeholder="Password" name="password" required>
            <input type="submit" value="Sign In">
        </form>
        <a href="/signup">Sign Up</a>
        {{!-- <a href="#">Forgot your password?</a> --}}
        <input type="text" value="{{bool}}" class="bool" style="display:none;">
    </div>
    {{>footer}}
</body>
</html>
